.about--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  transition: all 0.5s linear;
}
.about--heading {
  margin-top: 50px;
  overflow: hidden;
}
.about--heading--text {
  color: aliceblue;
  font-size: 36px;
  opacity: 0;
}
.active .about--heading--text {
  animation: aboutheading 0.8s ease-out;
  animation-fill-mode: forwards;
}
@keyframes aboutheading {
  0% {
    transform: translateX(-100%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.about--cards--container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about--card {
  width: 200px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  opacity: 0;
}
.active .about--card:nth-child(1) {
  animation: card1 1s ease-out 0.3s;
  animation-fill-mode: forwards;
}
@keyframes card1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.active .about--card:nth-child(3) {
  animation: card3 1s ease-out 0.3s;
  animation-fill-mode: forwards;
}
@keyframes card3 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.active .about--card:nth-child(2) {
  animation: card2 1s ease-out 0.3s;
  animation-fill-mode: forwards;
}
@keyframes card2 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.about--card--logo--conatiner {
  width: 70px !important;
  height: 70px !important;
  border: 2px solid #e5e5e5;
  border-radius: 1000px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: none;
}
.about--card--logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about--card--heading--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about--card--heading {
  font-size: 22px;
  color: #ed5565;
  font-weight: bold;
  text-align: center;
}
.about--card--desc--container {
  width: 100%;
  text-align: center;
}
.about--card--desc {
  font-size: 18px;
  color: #e5e5e5bb;
}
/* UI /UX logo */
.uilogo--cont--protector {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uilogo--cont {
  width: 32px;
  height: 42px;
  border: 2px solid #ed5565;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}
.uilogo--heading {
  position: relative;
  width: 8px;
  height: 0px;
  border: 2px solid #ed5565;
  margin-bottom: 3px;
  align-self: left;
  margin-left: 0px;
}
.uilogo--cont--protector:hover .uilogo--heading {
  align-self: center;
  margin-left: 3px;
}
.uilogo--cont--protector:hover .uilogo--heading::before {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  border: 2px solid #ed5565;
  border-radius: 50px;
  left: -9px;
  top: -3px;
}
.uilogo--center {
  width: 19px;
  height: 7px;
  background: #ed5565;
  border-radius: 3px;
  margin-bottom: 3px;
}
.uilogo--cont--protector:hover .uilogo--center {
  height: 2px;
}
.uilogo--bottom {
  display: flex;
  flex-direction: row;
}
.uilogo--bottom--left {
  display: flex;
  flex-direction: column;
}
.uilogo--bottom--left--1,
.uilogo--bottom--left--2,
.uilogo--bottom--left--3 {
  width: 10px;
  height: 0px;
  border: 0.8px solid #ed5565;
  margin-bottom: 2px;
}
.uilogo--bottom--left--3 {
  margin-bottom: 0;
  width: 6px;
}
.uilogo--cont--protector:hover .uilogo--bottom--left--3 {
  width: 10px;
}
.uilogo--bottom--right {
  width: 6px;
  height: 6px;
  background: #ed5565;
  border-radius: 1px;
  margin-left: 2px;
}
.uilogo--cont--protector:hover .uilogo--bottom--right {
  height: 100%;
}
[class^="uilogo--"] {
  transition: all 0.5s ease-out;
}
/* Front end logo */
.frontlogo--container {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 3s ease-in-out;
}
.frontlogo--container:hover {
  transform: rotate(360deg);
}
.frontlogo--ellipse {
  width: 16px;
  height: 38px;
  border: 2px solid #ed5565;
  position: absolute;
  border-radius: 50%;
}
.frontlogo--ellipse:nth-child(1) {
  transform: rotate(90deg);
}
.frontlogo--ellipse:nth-child(2) {
  transform: rotate(30deg);
}
.frontlogo--ellipse:nth-child(3) {
  transform: rotate(-30deg);
}
.frontlogo--center {
  width: 6px;
  height: 6px;
  background-color: #ed5565;
  border-radius: 10px;
}
/* Back end logo */
.backlogo--container {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.backlogo--text {
  font-size: 26px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #ed5565;
  max-lines: 1;
  white-space: nowrap;
  transition: all 0.5s ease-out;
}
.backlogo--hover--text {
  display: none;
  font-weight: normal;
  overflow: hidden;
}
.backlogo--container:hover .backlogo--text {
  font-size: 12px;
}
.backlogo--container:hover .backlogo--hover--text {
  display: block;
  animation: BACKENDTEXT 2s steps(7);
}
@keyframes BACKENDTEXT {
  0% {
    width: 0ch;
  }
  100% {
    width: 8ch;
  }
}
/* Back end logo ended */

@media screen and (max-width: 600px) {
  .about--heading {
    margin-top: 20px;
    margin-bottom: 5px;
    flex: 1;
  }
  .about--heading--text {
    font-size: 2.2rem;
  }
  .about--cards--container {
    flex-direction: column;
    flex: 5;
    justify-content: flex-start;
  }
  .about--card {
    flex-direction: row;
    width: 85%;
    height: auto;
    border: 2px solid #ed5565;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .about--card--logo--conatiner {
    transform: scale(0.8);
    margin-bottom: 0;
  }
  .about--card--heading--container {
    flex-direction: row;
    padding-left: 10px;
  }
  .about--card--heading {
    border-bottom: 2px solid #ed5565bb;
    font-size: 1.2rem;
    margin-bottom: 3px;
  }
  .about--card--desc--container {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
  }
  .about--card--desc {
    font-size: 0.9rem;
  }
  .backlogo--text {
    font-size: 12px;
  }
  .active .backlogo--hover--text {
    display: block;
    animation: BACKENDTEXT 3s steps(7) infinite alternate 0.2s;
  }
  @keyframes BACKENDTEXT {
    0% {
      width: 0ch;
    }
    80% {
      width: 8ch;
    }
    100% {
      width: 8ch;
    }
  }
  .active .frontlogo--container {
    animation: rotate360 3s ease-in-out infinite alternate;
  }
  @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    90% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .active .uilogo--heading {
    animation: ui1 3s linear infinite alternate;
  }
  @keyframes ui1 {
    0% {
      align-self: left;
      margin-left: 0;
    }
    80% {
      align-self: center;
      margin-left: 3px;
    }
    100% {
      align-self: center;
      margin-left: 3px;
    }
  }
  .active .uilogo--heading::before {
    content: "";
    animation: ui2 3s linear infinite alternate;
  }
  @keyframes ui2 {
    0% {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-radius: 50px;
      border-color: #ed5565;
      left: -9px;
      top: -3px;
    }
    80% {
      content: "";
      width: 1px;
      height: 1px;
      position: absolute;
      border: 2px solid #ed5565;
      border-radius: 50px;
      left: -9px;
      top: -3px;
    }
    100% {
      content: "";
      width: 1px;
      height: 1px;
      position: absolute;
      border: 2px solid #ed5565;
      border-radius: 50px;
      left: -9px;
      top: -3px;
    }
  }
  .active .uilogo--center {
    animation: ui3 3s linear infinite alternate;
  }
  @keyframes ui3 {
    0% {
      height: 7px;
    }
    80% {
      height: 2px;
    }
    100% {
      height: 2px;
    }
  }
  .active .uilogo--bottom--right {
    animation: ui4 3s linear infinite alternate;
  }
  @keyframes ui4 {
    0% {
      height: 6px;
    }
    80% {
      height: 100%;
    }
    100% {
      height: 100%;
    }
  }
}
@media screen and (max-width: 440px) {
  .about--card--desc {
    font-size: 0.8rem;
  }
  .about--card--heading {
    font-size: 0.92rem;
  }
}
