.contact--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact--upper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.contact--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.contact--heading--text {
  font-size: 36px;
  color: aliceblue;
  opacity: 0;
}
.active .contact--heading--text {
  animation: contactheading 1s ease-in 0.3s;
  animation-fill-mode: forwards;
}
.active .contact--heading--text:nth-child(2) {
  border-bottom: #e06d79 2px solid;
  animation-delay: 0.5s;
}
@keyframes contactheading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contact--twitter--container,
.contact--instagram--container,
.contact--email--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  opacity: 0;
}
.active .contact--twitter--container {
  animation: contactLink 0.7s ease-in 0.6s;
  animation-fill-mode: forwards;
}
.active .contact--instagram--container {
  animation: contactLink 0.7s ease-in 0.8s;
  animation-fill-mode: forwards;
}
.active .contact--email--container {
  animation: contactLink 0.7s ease-in 1s;
  animation-fill-mode: forwards;
}
@keyframes contactLink {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.contact--twitter--text,
.contact--instagram--text,
.contact--email--text {
  font-size: 24px;
  color: aliceblue;
}
.contact--twitter--logo,
.contact--instagram--logo,
.contact--email--logo {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}
.contact--form {
  all: initial;
  font-size: 24px;
  color: aliceblue;
  cursor: pointer;
  padding: 2px;
  border: 3px solid #ed5565;
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
}
.contact--form:hover {
  background-color: #ed5565;
  border-color: white;
}
.contact--lower {
  height: 200px;
  background: #e06d79;
  margin-left: 50px;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: auto;
  transform: translateY(250px);
}
.active .contact--lower {
  animation: lowercont 1s ease-in 0.7s;
  animation-fill-mode: forwards;
}
@keyframes lowercont {
  0% {
    transform: translateY(250px) translateX(100px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
.contact--lower--left {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: white;
  align-items: left;
  justify-content: center;
  padding-left: 100px;
}
.contact--lower--right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.logo--footer {
  width: 30px;
  height: 30px;
}
.logo--footer--img {
  width: 100%;
  height: 100%;
}

/* Form for contact */
.contact--form--container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #f001;
  z-index: 1500;
}
@media screen and (max-width: 992px) {
  .on--contact .pager--indicator {
    background-color: black;
  }
  .contact--lower {
    margin-left: 15px;
  }
  .active .contact--lower {
    transform: translateY(350px);
    height: calc(200px + 15vh);
    animation: lowercont1 1s ease-in 0.7s;
    animation-fill-mode: forwards;
  }
  @keyframes lowercont1 {
    0% {
      transform: translateY(350px) translateX(100px);
    }
    100% {
      transform: translateY(15vh) translateX(0);
    }
  }
}
@media screen and (max-width: 700px) {
  .contact--lower {
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact--lower--left {
    padding-left: 20px;
    padding-top: 25px;
    font-size: 1.1rem;
    flex: 0;
  }
  .contact--lower--right {
    flex: 0;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
  }
  .contact--heading--text {
    font-size: 1.5rem;
    opacity: 0;
  }

  .contact--twitter--text,
  .contact--instagram--text,
  .contact--email--text {
    font-size: 1.15rem;
    color: aliceblue;
    border-bottom: 1px #ffeeeeaa solid;
  }
  .contact--twitter--logo,
  .contact--instagram--logo,
  .contact--email--logo {
    width: 24px;
    height: 24px;
    margin-right: 7px;
  }
  .contact--form {
    font-size: 1.15rem;
  }
}
