.contact--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact--upper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.contact--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.contact--heading--text {
  font-size: 36px;
  color: aliceblue;
  opacity: 0;
}
.active .contact--heading--text {
  animation: contactheading 1s ease-in 0.6s;
  animation-fill-mode: forwards;
}
.active .contact--heading--text:nth-child(2) {
  border-bottom: #e06d79 2px solid;
  animation-delay: 0.8s;
}
@keyframes contactheading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contact--twitter--container,
.contact--instagram--container,
.contact--email--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  opacity: 0;
}
.active .contact--twitter--container {
  animation: contactLink 0.7s ease-in 0.9s;
  animation-fill-mode: forwards;
}
.active .contact--instagram--container {
  animation: contactLink 0.7s ease-in 1.1s;
  animation-fill-mode: forwards;
}
.active .contact--email--container {
  animation: contactLink 0.7s ease-in 1.3s;
  animation-fill-mode: forwards;
}
@keyframes contactLink {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.contact--twitter--text,
.contact--instagram--text,
.contact--email--text {
  font-size: 24px;
  color: aliceblue;
}
.contact--twitter--logo,
.contact--instagram--logo,
.contact--email--logo {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}
.contact--lower {
  height: 250px;
  background: #e06d79;
  margin-left: 50px;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: auto;
  transform: translateY(250px);
}
.active .contact--lower {
  animation: lowercont 0.7s ease-in 1s;
  animation-fill-mode: forwards;
}
@keyframes lowercont {
  0% {
    transform: translateY(250px) translateX(100px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
.contact--lower--left {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: white;
  align-items: left;
  justify-content: center;
  padding-left: 100px;
}
.contact--lower--right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.logo--footer {
  width: 30px;
  height: 30px;
}
.logo--footer--img {
  width: 100%;
  height: 100%;
}
