.projects--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}
.projects--heading--container {
  margin-top: 50px;
  font-size: 36px;
  color: aliceblue;
  overflow: hidden;
}
.projects--heading {
  opacity: 0;
}
.active .projects--heading {
  animation: projecthead 1s ease 0.2s;
  animation-fill-mode: forwards;
}
@keyframes projecthead {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.work--container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -40px;
  left: -60px;
  opacity: 0;
}
.active .work--container {
  animation: workcont 2s ease-in 0.5s;
  animation-fill-mode: forwards;
}
@keyframes workcont {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    pointer-events: unset;
  }
}
.work--first {
  width: 180px;
  height: 250px;
  border: 10px solid #ed5565aa;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #fff9;
  transition: all 0.4s linear;
}
.work--first:hover {
  scale: 1.75;
  transform: translateX(45px);
}
.work--first--img {
  width: 100%;
  height: 100%;
}
.work--second {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.work--second--top {
  width: 180px;
  height: 140px;
  border: 10px solid #ed5565aa;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #fff9;
  transition: all 0.4s linear;
}
.work--second--top:hover {
  scale: 2.5;
  transform: translateY(40px);
}
.work--second--top--img {
  width: 100%;
  height: 100%;
}
.work--second--bottom {
  width: 180px;
  height: 250px;
  border: 10px solid #ed5565aa;
  border-radius: 5px;
  background-color: #fff9;
  transition: all 0.4s linear;
}
.work--second--bottom:hover {
  scale: 2;
  transform: translateY(-60px);
}
.work--second--bottom--img {
  width: 100%;
  height: 100%;
}
.work--third {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.work--third--top {
  width: 300px;
  height: 220px;
  border: 10px solid #ed5565aa;
  border-radius: 5px;
  background-color: #fff9;
  transition: all 0.4s linear;
}
.work--third--top:hover {
  scale: 2;
  transform: translateX(-70px);
}
.work--third--top--img {
  width: 100%;
  height: 100%;
}
.work--third--bottom {
  font-size: 20px;
  color: aliceblue;
  text-align: center;
  margin-top: 10px;
  opacity: 0.8;
  z-index: -1;
  cursor: pointer;
}
