* {
  margin: 0;
  padding: 0;
}
a {
  all: initial;
  cursor: pointer;
  color: aliceblue;
}
body {
  background-color: #15171d;
  color: aliceblue;
  scroll-behavior: smooth;
  cursor: url("Images/cursor.png"), auto;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1100;
}
.navbar--left {
  flex: 1;
}
.navbar--heading {
  font-size: 20px;
}
.navbar--right {
  display: flex;
  flex-direction: row;
}
.navbar--options {
  width: 35px;
  height: 35px;
  margin-left: 85px;
  position: relative;
}
.navbar--option {
  width: 100%;
  height: 100%;
}
.navbar--github--hover--image {
  display: none;
  border-radius: 20px;
}
.navbar--options--github:hover .navbar--github--hover--image {
  display: block;
  position: absolute;
  left: -20px;
}
.pager {
  position: fixed;
  top: 10vh;
  left: 0;
  height: 90vh;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.pager--container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 75px;
}
.pager--indicator {
  cursor: pointer;
  display: block;
  background-color: aliceblue;
  width: 40px;
  height: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
  /* 700 milliseconds because it is page transition time from fullpage.js */
  transition: all 0.7s ease-out;
}
.scrolldown--cont {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translate(100%, 100%);
}
.active.scrolldown--cont {
  animation: scrolldown 1s cubic-bezier(0.25, 0.1, 0, 1.95) 2s;
  animation-fill-mode: forwards;
}
@keyframes scrolldown {
  0% {
    transform: rotate(90deg) translateX(100%);
  }
  100% {
    transform: rotate(90deg) translateX(-50%);
  }
}
.scrolldown--upper {
  width: 20px;
  border: 2px solid #ed5565;
}
.scrolldown--middle {
  font-size: 1.3rem;
  margin: 10px;
  transform: translateY(-3px);
}
.scrolldown--lower {
  width: 40px;
  position: relative;
  border: 2px solid #ed5565;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.scrolldown--lower::before {
  position: absolute;
  content: "";
  width: 12px;
  border: 2px solid #ed5565;
  right: -16px;
  top: -6px;
  z-index: 10000;
  transform: rotate(45deg);
}
.scrolldown--lower::after {
  position: absolute;
  content: "";
  width: 12px;
  border: 2px solid #ed5565;
  right: -16px;
  bottom: -6px;
  z-index: 10000;
  transform: rotate(-45deg);
}
.active .pager--indicator {
  width: 75px;
}

.container {
  margin-left: 15vw;
}
.section {
  /* border: red 2px solid; */
  padding-top: 10vh;
  height: 100vh;
}
/* Orbitor */
#orbitor {
  width: 15px;
  height: 15px;
}
#mouse--orbitor {
  position: absolute;
  z-index: 1000;
  left: -30px;
  top: -30px;
  width: 15px;
  height: 15px;
  transition: all 0.2s linear;
  animation: meteor 2s infinite linear;
}
@keyframes meteor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media queries */
@media screen and (max-width: 992px) {
  .navbar {
    width: 100vw;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar--right {
    flex: 1;
    justify-content: right;
    padding-right: 30px;
  }
  .navbar--options {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    position: relative;
  }
  .pager {
    top: 85vh;
    height: 15vh;
    width: 100vw;
  }
  .pager--container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    height: 15vh;
    /* background-color: red; */
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.7s linear;
  }
  .pager--indicator {
    width: 4px;
    height: 7.5vh;
    margin-left: 15px;
    margin-right: 15px;
  }
  .active .pager--indicator {
    height: 11vh;
    width: 4px;
  }
  .container {
    margin-left: 0;
  }
  .section {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .scrolldown--cont {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar--options {
    width: 25px;
    height: 25px;
  }
  .navbar--right {
    padding-right: 30px;
  }
  .navbar--heading {
    font-size: 15px;
  }
}
