* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #15171d;
  color: aliceblue;
  scroll-behavior: smooth;
  cursor: url("Images/cursor.png"), auto !important;
}
a {
  all: initial;
  color: aliceblue;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar--left {
  flex: 1;
}
.navbar--heading {
  font-size: 20px;
}
.navbar--right {
  display: flex;
  flex-direction: row;
}
.navbar--options {
  width: 35px;
  height: 35px;
  margin-left: 85px;
}
.navbar--option {
  width: 100%;
  height: 100%;
}
.pager {
  position: fixed;
  top: 10vh;
  left: 0;
  height: 90vh;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.pager--container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 75px;
}
.pager--indicator {
  display: block;
  background-color: aliceblue;
  width: 40px;
  height: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
  /* 700 milliseconds because it is page transition time from fullpage.js */
  transition: all 0.7s ease-out;
}
.active .pager--indicator {
  width: 75px;
}

.container {
  margin-left: 15vw;
}
.section {
  /* border: red 2px solid; */
  padding-top: 10vh;
  height: 100vh;
}
/* Orbitor */
#orbitor {
  width: 15px;
  height: 15px;
}
#mouse--orbitor {
  position: absolute;
  z-index: 1000;
  left: -30px;
  top: -30px;
  width: 15px;
  height: 15px;
  transition: all 0.2s linear;
  animation: meteor 2s infinite linear;
}
@keyframes meteor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
